<!DOCTYPE html>
<html>
  <head>
    <title>RobinsJacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Varta&display=swap" rel="stylesheet">



    <script type="text/javascript">
      window.logo = "<%= image_url('logo.jpg') %>"
      window.small_logo = "<%= image_url('small-logo.png') %>"
      window.splashlearn = "<%= image_url('splash_learn.png') %>"
      window.splashmanage = "<%= image_url('splash_roar.png') %>"
      window.splashcustomize = "<%= image_url('splash_customize.png') %>"
      window.splash_phone = "<%= image_url('splash_phone.png')%>"
      window.splash_vid = "<%= video_url('splash_vid.mp4')%>"
      window.splash_shapes = "<%= image_url('splash_shapes.png') %>"

      window.login_page = "<%= image_url('login_page.jpg') %>"
      window.signup_video = "<%= video_url('signup_video.mp4')%>"

      window.home_msg = "<%= image_url('home_msg.png')%>"
    </script>
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
