<!DOCTYPE html>
<html>
  <head>
    <title>RobinsJacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.splashlearn = "<%= image_url('splash_learn.png') %>"
      window.splashmanage = "<%= image_url('splash_roar.png') %>"
      window.splashcustomize = "<%= image_url('splash_customize.png') %>"
      window.splash_phone = "<%= image_url('splash_phone.png')%>"
    </script>
    
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
