<!DOCTYPE html>
<html>
  <head>
    <title>RobinsJacket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Varta&display=swap" rel="stylesheet">

    <%= favicon_link_tag asset_path('favicon_io/favicon.ico') %>

    <script type="text/javascript">
      window.logo_extended = "<%= image_url('logo.jpg') %>"
      window.logo_icon = "<%= image_url('small-logo.png') %>"
    </script>
    
    <meta property="og:title" content="RobinsJacket" />
    <meta property="og:description" content="RobinsJacket is a single-page clone of popular stock trading and investment app, Robinhood Markets" />
    <meta property="og:image" content="<%= image_url('robins-jacket-preview.png') %>" />
    <meta name="author" content="Keely Lee">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
